@model Web.Areas.Admin.Models.Users.EditUserViewModel
@{
    ViewData["Title"] = "Edit user";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="FirstName">Your Name</label>

            <div class="form-group">
                <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="LastName" placeholder="Last Name" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <label asp-for="Email">Email / Login ID</label>

            <div class="form-group">
                <input asp-for="Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-block">Done</button>
            </div>
        </form>

        <div class="form-group text-center">
            <a asp-action="@nameof(UsersController.Index)" class="btn btn-link btn-block">Cancel</a>
        </div>
    </div>
</div>
