@model Web.Models.Common.FinancialItemSearchViewModel

<form>
    <input id="financial-item-search" class="form-control typeahead m-2" type="text" placeholder="Search financial items" />
</form>
<div id="itemList">
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        idList = [];
            var substringMatcher = function (strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;

                    // an array that will be populated with substring matches
                    matches = [];

                    // regex used to determine if a string contains the substring `q`
                    substrRegex = new RegExp(q, 'i');

                    // iterate through the pool of strings and for any string that
                    // contains the substring `q`, add it to the `matches` array
                    $.each(strs, function (i, str) {
                        if (substrRegex.test(str.name)) {
                            matches.push(str.name);
                        }
                    });

                    cb(matches);
                };
            };

            var financialItems = @Html.Raw(Json.Serialize(Model.FinancialItems));
            $('.typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'financial-items',
                source: substringMatcher(financialItems)
            });

            suggestions = [];
            $('.typeahead').bind('typeahead:select', function (ev, suggestion) {

                $("#itemList").append("<div class=\"badge badge-secondary m-2\">" + suggestion+"</div>");
                console.log('Selection: ' + suggestion);
                $('.typeahead').typeahead('val', '');
            });
        });
</script>
