@model Web.Models.Common.FinancialItemSearchViewModel

<form>
    <div id="multiple-datasets">
        <input id="financial-item-search" class="typeahead m-2 form-control" type="text" placeholder="Search financial items" />
    </div>
</form>
<div id="itemList">
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        idList = [];
        var type = @Model.FinancialItemType;

        var expenses = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '/FinancialItems/GetSimplifiedItems/' + type
        });

        $('#multiple-datasets .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
            {
                limit: 10,
                display: 'name',
                name: 'financial-items',
                source: expenses
            });

            suggestions = [];
        $('#multiple-datasets .typeahead').bind('typeahead:select', function (ev, suggestion) {

            $("#itemList").append("<div class=\"badge badge-secondary m-2\">" + suggestion.name + "</div>");
                console.log('Selection: ' + suggestion.id);
            $('#multiple-datasets .typeahead').typeahead('val', '');
            });
        });
</script>
